* {
	padding: 0;
	margin: 0;
}

.container * {
	border: 1px solid black;
}

.container {
	min-height: 100vh;

	display: grid;

	grid-template-columns: 1fr 2fr 0.5fr 1.5fr 1fr;
	grid-template-rows: 1fr 3fr 3fr 1fr;

	grid-template-areas: "header header header header header" 
						 ". main main aside ."
						 ". twin1 twin2 twin2 ."
						 "footer footer footer footer footer";

	gap: 0.5em;

}

header {
	grid-area: header;
	background-color: lightblue;
}

section {
	grid-area: main;
}

aside {
	grid-area: aside;
}

.twin1 {
	grid-area: twin1;
}

.twin2 {
	grid-area: twin2;
}

footer {
	grid-area: footer;
	background-color: lightgreen;
}